In [1]:
#1

import pandas as pd

In [2]:
#2

print(pd)

<module 'pandas' from '/Users/Makris/opt/anaconda3/envs/New/lib/python3.8/site-packages/pandas/__init__.py'>

In [4]:
#3

pd.__version__

'1.1.3'

In [13]:
#4

import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index = [labels])

In [12]:
#5

print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [15]:
#6

df.loc['a':'c']

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [28]:
#7

df.drop(columns =['visits', 'priority'])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [31]:
#8

df.drop(columns =['visits', 'priority'])
df.drop(['a', 'b', 'e', 'f', 'g', 'i', 'j'])

  animal  age  visits priority
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [38]:
#9

#df.loc[df['column_name'] == some_value]

df.loc[df['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [42]:
#10

#df[df['Col2'].isnull()]

df.loc[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [47]:
#11

df.loc[df['animal'] == 'cat']
df.loc[df['age'] < 3]

  animal  age  visits priority
a    cat  2.5       1      yes
c  snake  0.5       2       no
f    cat  2.0       3       no

In [52]:
#12

#12. Select the rows the age is between 2 and 4 (inclusive).

df.loc[(df['age'] >=2) & (df['age'] <=4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [61]:
#13


#13. Change the age in row 'f' to 1.5.

#df.at['C', 'x'] = 10

df.at['g', 'age']=1.5
print(df)

    animal  age  visits priority    f    g
a      cat  2.5     1.0      yes  NaN  NaN
b      cat  3.0     3.0      yes  NaN  NaN
c    snake  0.5     2.0       no  NaN  NaN
d      dog  NaN     3.0      yes  NaN  NaN
e      dog  5.0     2.0       no  NaN  NaN
f      cat  1.5     3.0       no  NaN  NaN
g    snake  1.5     1.0       no  NaN  NaN
h      cat  NaN     1.0      yes  NaN  NaN
i      dog  7.0     2.0       no  NaN  NaN
j      dog  3.0     1.0       no  NaN  NaN
age    NaN  NaN     NaN      NaN  1.5  1.5